*.env
*.env

__pycache__/
*.py[cod]
*.pyo

db.sqlite3
media/
staticfiles/
main/templates/main/yandex.html

.vscode/
.idea/
*.swp

main/templates/404.html
main/templates/500.html
main/templates/robots.txt
main/templates/main/yandex_27aa4734362aa5ed.html